BODY {
	background-color : #FFFFFF;
	color : Black;
	font-family : Arial, sans-serif;
	font-size: 12px;
	margin: 10px;
}

h1 {
	color: Black;
	font:  Arial, sans-serif;
	font-size: 14px;
	weight: bold;
}

td {
	vertical-align: top;
	padding-right: 5px;
}

td.baneer {
	color: #00476C;
	font:  Arial, sans-serif;
	font-size: 11px;
	vertical-align: center;
}

li {
	color : Black;
	font : Arial, sans-serif;
	font-size: 14px;
}

.button {
	width: 80px
}